<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
      <!-- page users view start -->
      <section *ngIf="objRevert == null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-12 col-lg-12">
            <div class="card user-card">
              <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                      <div class="d-flex justify-content-start">
                        <div class="mr-1 ml-0">
                            <div
                              [ngClass]="{
                                'bg-light-success': data.status == '1',
                                'bg-light-secondary': data.status == '0',
                                'bg-light-warning': data.status == '2'
                              }"
                              class="rounded-circle p-3" style="height: 150px; width: 150px;"
                            >
                              <h2
                                [ngClass]="{
                                  'text-success': data.status == '1',
                                  'text-secondary': data.status == '0',
                                  'text-warning': data.status == '2'
                                }"
                                class="d-flex justify-content-center mt-1"
                              >
                                {{ data.roleName | initials }}
                              </h2>
                            </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                    <div class="user-info-wrapper">
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.ROLE_GROUP_CODE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 " [ngStyle]="{'color': dataRevert?.roleCode ? 'indianred' : '#6E6B7B'}">
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          {{ dataRevert?.roleCode ? dataRevert?.roleCode : data?.roleCode }}
                        </p>
                        <b *ngIf="dataRevert?.roleCode">---> {{ data?.roleCode }}</b>
                        <!-- <p class="card-text mb-0">{{ data.roleCode }}</p> -->
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="tag" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.ROLE_GROUP_NAME'| translate }}</span>
                        </div>
                        <p class="card-text mb-0" *ngIf="currentLang == 'vn'"
                        [ngStyle]="{'color': dataRevert?.roleName ? 'indianred' : '#6E6B7B'}">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ dataRevert?.roleName ? dataRevert?.roleName : data?.roleName }}
                        <b *ngIf="dataRevert?.roleName">---> {{ obj?.roleName }}</b>
                     
                      <p class="card-text mb-0" *ngIf="currentLang == 'en'"
                        [ngStyle]="{'color': dataRevert?.roleNameEn ? 'indianred' : '#6E6B7B'}">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ dataRevert?.roleNameEn ? dataRevert?.roleNameEn : data?.roleNameEn }}
                        <b *ngIf="dataRevert?.roleNameEn">---> {{ obj?.roleNameEn }}</b>
                      </p>
                      
                        <!-- <p class="card-text mb-0">{{ data.roleName }}</p> -->
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="check" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.STATUS'| translate }}</span>
                        </div>
                        <p class="badge badge-pill"
                          [ngClass]="{
                            'badge-light-success': data.status == '1',
                            'badge-light-secondary': data.status == '0',
                            'badge-light-warning': data.status == '2'
                          }"
                        >{{ data.status == '1' ? 'Active' : data.status == '0' ? 'Deleted' : 'Locked' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- /User Card Ends-->
      </section>

      <section *ngIf="objRevert != null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
            <!-- User Card starts-->
            <div class="col-xl-12 col-lg-12">
                <div class="card user-card">
                    <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                              <tr>
                                <th>{{ 'LABEL.properties'| translate }}</th>
                                <th>{{ 'LABEL.Before_the_update'| translate }}</th>
                                <th>{{ 'LABEL.After_the_update'| translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="{'table-warning': objRevert.username != obj.username}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL.USERNAME'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.roleCode}}</td>
                                    <td>{{obj.roleCode}}</td>
                                </tr>
                                <tr [ngClass]="{'table-warning': objRevert.roleName != obj.roleName}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL.ROLE_GROUP_NAME'| translate }}</span>
                                    </td>
                                    <td>{{currentLang == 'vn' ? objRevert?.roleName :  objRevert?.roleNameEn}}</td>
                                    <td>{{currentLang == 'vn' ? obj?.roleName :   obj?.roleNameEn}}</td>
                                </tr>
                                <tr [ngClass]="{'table-warning': objRevert.status != obj.status}">
                                  <td>
                                      <span class="card-text user-info-title font-weight-bold mb-0">{{
                                          'LABEL.STATUS'| translate }}</span>
                                  </td>
                                  <td  [ngClass]="{
                                    'badge-light-success': data.status == '1',
                                    'badge-light-secondary': data.status == '0',
                                    'badge-light-warning': data.status == '2'
                                  }" >{{ objRevert.status == '1' ? 'Active' : objRevert.status == '0' ? 'Deleted' : 'Locked' }}</td>
                                  <td  [ngClass]="{
                                    'badge-light-success': data.status == '1',
                                    'badge-light-secondary': data.status == '0',
                                    'badge-light-warning': data.status == '2'
                                  }" >{{ obj.status == '1' ? 'Active' : obj.status == '0' ? 'Deleted' : 'Locked' }}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /User Card Ends-->
    </section>
      <!-- page users view end -->
    </div>
  </div>
  