<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <!-- <h5 class="card-header">Quản lý người dùng</h5> -->
        <div class="card-body">
          <div class="users-list-filter">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="role-column">{{ 'MESSAGE.USER_MANAGEMENT.SEARCHBOX'| translate }}</label>
                  <div class="input-group" *ngIf="acceptAction.search">
                    <input type="text" class="form-control"
                      placeholder="{{ 'MESSAGE.USER_MANAGEMENT.SEARCHBOX'| translate }}" aria-label=""
                      aria-describedby="basic-addon-search1" (keyup.enter)="searchUser()" [(ngModel)]="keyword" />
                    <div class="input-group-append" (click)="searchUser()">
                      <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                    </div>
                  </div>
                  <div class="input-group" *ngIf="!acceptAction.search">
                    <input type="text" class="form-control"
                      placeholder="{{ 'MESSAGE.USER_MANAGEMENT.SEARCHBOX'| translate }}" aria-label=""
                      aria-describedby="basic-addon-search1" [(ngModel)]="keyword" />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="role-column">{{ 'LABEL.ROLE'| translate }}</label>
                      <ng-select *ngIf="currentLang=='vn'" id="role-column" [items]="listRole" bindLabel="roleName" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                        (change)="onSelectRole($event)" placeholder="{{ 'LABEL.ROLE'| translate }}">
                      </ng-select>
                      <ng-select *ngIf="currentLang=='en'" id="role-column" [items]="listRole" bindLabel="roleNameEn" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                        (change)="onSelectRole($event)" placeholder="{{ 'LABEL.ROLE'| translate }}">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="unit-column">{{ 'LABEL.UNIT'| translate }}</label>
                      <ng-select *ngIf="currentLang=='vn'" id="unit-column" [items]="listUnit" bindLabel="unitName" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                        (change)="onSelectUnit($event)" placeholder="{{ 'LABEL.UNIT'| translate }}">
                      </ng-select>
                      <ng-select *ngIf="currentLang=='en'" id="unit-column" [items]="listUnit" bindLabel="unitNameEn" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                        (change)="onSelectUnit($event)" placeholder="{{ 'LABEL.UNIT'| translate }}">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ 'LABEL.SHOW'| translate }}
                <select class="form-control mx-25" [(ngModel)]="perPage" (change)="changePerpage()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <label>{{ 'LABEL.ENTRIES'| translate }}</label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <button *ngIf="roleAdmin === 'true' && acceptAction.delete" class="btn btn-danger ml-1" [disabled]="deleted" rippleEffect
                (click)="onDeleteMulti()">
                <span [data-feather]="'trash'" [class]="'mr-25'"></span>{{'ACTION.DELETE' | translate}}
              </button>

              <button *ngIf="roleAdmin === 'true' && acceptAction.add" class="btn btn-primary ml-1" rippleEffect
                (click)="openModalAddUser(modalAddUser)">
                <span [data-feather]="'aperture'" [class]="'mr-25'"></span>{{'ACTION.ADD' | translate}}
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable *ngIf="acceptAction.search" [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
          [selectionType]="SelectionType.checkbox" (select)="onSelect($event)" (select)="customChkboxOnSelect($event)"
          [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [externalPaging]="true" [count]="totalRows"
          [offset]="currentPage" [limit]="perPage" (page)="setPage($event)" [messages]="messages">
          <ngx-datatable-column name="{{ 'LABEL.NO'| translate }}" [width]="50" [sortable]="false"
            headerClass="header text-center width-5" cellClass="center width-5">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{ (currentPage * perPage) + rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn">
              <div *ngIf="roleAdmin === 'true'">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                  <label class="custom-control-label" for="headerChkbxRef"></label>
                </div>
              </div>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
              let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div *ngIf="roleAdmin === 'true'">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                  <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="{{ 'LABEL.ACTION'| translate }}" [width]="100" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngIf="roleAdmin === 'true'">

                <!-- Edit user -->
                <span *ngIf="row.password !== true && isAdmin == true || currentUserName == row.username && acceptAction.update"
                  (click)="editUser(row.id, modalEditUser)" triggers="mouseenter:mouseleave" placement="right"><i
                    data-feather="edit" class="text-primary cursor-pointer ml-50"></i>
                </span>

                <span *ngIf="row.undoStatus !== true &&  isAdmin == false && acceptAction.update" (click)="editUser(row.id, modalEditUser)"
                  triggers="mouseenter:mouseleave" placement="right"><i data-feather="edit"
                    class="text-primary cursor-pointer ml-50"></i>
                </span>

                <!-- Lock User -->
                <span (click)="lockUser(row.id)"
                  *ngIf="row.status === 0 || row.status === 1 && (row.password !== true && isAdmin == true || currentUserName == row.username) && acceptAction.lock"
                  ngbPopover="{{ 'ACTION.LOCK'| translate }}" triggers="mouseenter:mouseleave" placement="right"><i
                    data-feather="lock" class="text-warning cursor-pointer ml-50"></i>
                </span>
                <span (click)="lockUser(row.id)"
                  *ngIf="row.status === 0 || row.status === 1 && (row.undoStatus !== true &&  isAdmin == false) && acceptAction.lock"
                  ngbPopover="{{ 'ACTION.LOCK'| translate }}" triggers="mouseenter:mouseleave" placement="right"><i
                    data-feather="lock" class="text-warning cursor-pointer ml-50"></i>
                </span>

                <span (click)="unlockUser(row.id)" *ngIf="row.status === 2 && acceptAction.lock"
                  ngbPopover="{{ 'ACTION.UNLOCK'| translate }}" triggers="mouseenter:mouseleave" placement="right"><i
                  data-feather="unlock" class="text-warning cursor-pointer ml-50"></i>
                </span>
                <span *ngIf="row.password !== true && isAdmin == true || currentUserName == row.username && acceptAction.delete"
                  (click)="deleteUser(row.id)" ngbPopover="{{ 'ACTION.DELETE'| translate }}"
                  triggers="mouseenter:mouseleave" placement="right"><i data-feather="trash"
                    class="text-danger cursor-pointer ml-50"></i>
                </span>
                <span *ngIf="row.undoStatus !== true &&  isAdmin == false && acceptAction.delete"
                  (click)="deleteUser(row.id)" ngbPopover="{{ 'ACTION.DELETE'| translate }}"
                  triggers="mouseenter:mouseleave" placement="right"><i data-feather="trash"
                    class="text-danger cursor-pointer ml-50"></i>
                </span>
              </span>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.USERNAME'| translate }}" prop="username" [width]="200">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a *ngIf="acceptAction.detail" class="font-medium-1 d-block" (click)="detailUser(row, modalDetailUser)"><span
                      class="font-weight-bold text-primary">{{ name }}</span></a>
                  <a *ngIf="!acceptAction.detail" class="font-medium-1 d-block"><span
                      class="font-weight-bold text-primary">{{ name }}</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.ROLE'| translate }}" prop="role" [width]="200">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let a of row.role; let i = index"><span *ngIf="i != 0">,</span> {{currentLang == 'vn'?
                a.roleName : a.roleNameEn}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.UNIT'| translate }}" [width]="200">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span> {{currentLang == 'vn'? row.unit?.unitName : row.unit?.unitNameEn}}</span>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="{{ 'LABEL.FORM_UNIT'| translate }}" prop="unit" [width]="300">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let a of row.unit"> {{currentLang == 'vn'? a.unitName : a.unitNameEn}}</span>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="{{ 'LABEL.EMAIL'| translate }}" prop="email" [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.PHONE'| translate }}" prop="phoneNumber" [width]="140">
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.STATUS'| translate }}" prop="status" [width]="100">
            <ng-template let-row="row" let-status="value" ngx-datatable-cell-template>
              <div [hidden]="row.deleted == 1" class="badge badge-pill" [ngClass]="{
                  'badge-light-success': status == '1',
                  'badge-light-secondary': status == '0',
                  'badge-light-warning': status == '2'
                }">
                {{ status == 1 ? 'Active' : ( status == 0 ? 'Deleted' : 'Locked') }}
              </div>
              <div *ngIf="row.deleted == 1" class="badge badge-pill" [ngClass]="{
                  'badge-light-secondary': row.deleted == 1
                }">
                Deleted
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.CREATE_BY'| translate }}" prop="createdBy"
            [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.CREATE_DATE'| translate }}" [width]="200">
            <ng-template let-createdDate="value" let-row="row" ngx-datatable-cell-template>
              <span> {{row.createdDate | date: dateFormat}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.UPDATE_BY'| translate }}" prop="updatedBy"
            [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.UPDATE_DATE'| translate }}" [width]="200">
            <ng-template let-updatedDate="value" let-row="row" ngx-datatable-cell-template>
              <span> {{row.updatedDate | date: dateFormat}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
    <!-- Modal add user-->
    <ng-template #modalAddUser let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.ADD_USER' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-add-user (afterCreateUser)="afterCreateUser()"></app-add-user>
      </div>
    </ng-template>
    <!-- / Modal -->
    <!-- Modal detail user-->
    <ng-template #modalDetailUser let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.USER_DETAIL' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-detail-user [id]="idDetail" [obj]="ObjDetail"></app-detail-user>
      </div>
    </ng-template>
    <!-- / Modal -->
    <!-- Modal edit user-->
    <ng-template #modalEditUser let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.UPDATE_USER' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-edit-user (afterEditUser)="afterEditUser()"></app-edit-user>
      </div>
    </ng-template>
    <!-- / Modal -->
  </div>
</div>