<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section class="users-list-wrapper">
            <!-- Filter -->
            <div class="card">
                <div class="card-body">
                    <div class="users-list-filter">
                        <div class="col-md-6 col-12">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control"
                                    placeholder="{{ 'LABEL_APP_PARAM.SEARCHBOX_EXH'| translate }}" aria-label=""
                                    aria-describedby="basic-addon-search1" (keyup.enter)="searchExhCode()"
                                    [(ngModel)]="keyword" />
                                <div class="input-group-append" (click)="searchExhCode()">
                                    <span class="input-group-text" id="basic-addon-search1">
                                        <i data-feather="search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table data -->
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex align-items-center m-1">
                            <label class="d-flex align-items-center">{{ 'LABEL.SHOW'| translate }}
                                <select class="form-control mx-25" [(ngModel)]="perPage" (change)="changePerpage()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            <label>{{ 'LABEL.ENTRIES'| translate }}</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <button class="btn btn-primary ml-1" rippleEffect
                                (click)="openModalAddExhCode(modalAddExhCode)">
                                <span [data-feather]="'aperture'" [class]="'mr-25'"></span>{{'ACTION.ADD' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap"
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
                    [externalPaging]="true" [count]="totalRows" [offset]="currentPage" [limit]="perPage"
                    (page)="setPage($event)">

                    <ngx-datatable-column name="{{ 'LABEL.NO'| translate }}" [width]="20" [sortable]="false"
                        headerClass="header text-center width-5" cellClass="center width-5">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <strong>{{ (currentPage * perPage) + rowIndex + 1 }}</strong>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL.ACTION'| translate }}" [width]="80" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <span (click)="editExhCode(row.id, modalEditExhCode)"
                                ngbPopover="{{ 'ACTION.UPDATE'| translate }}" triggers="mouseenter:mouseleave"
                                placement="right"><i data-feather="edit"
                                    class="text-primary cursor-pointer ml-50"></i></span>
                            <span (click)="deleteExhCode(row.id)" ngbPopover="{{ 'ACTION.DELETE'| translate }}"
                                triggers="mouseenter:mouseleave" placement="right"><i data-feather="trash"
                                    class="text-danger cursor-pointer ml-50"></i></span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_APP_PARAM.EXH_NAME'| translate }}" prop="name"
                        [width]="200">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div class="cell-line-height">
                                    <a class="font-medium-1 d-block">
                                        <span class="font-weight-bold text-primary">
                                            {{row.name}}</span>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_PRO.ORGANIZATION'| translate }}" prop="description" [width]="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <span> {{currentLang == 'vn'? row.orgName : row.orgNameEn}}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_PROOF.CREATED_BY'| translate }}" prop="createdBy"
                        [width]="200">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_PROOF.CREATED_DATE'| translate }}" prop="createdDate"
                        [width]="200">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_PROOF.UPDATED_BY'| translate }}" prop="updatedBy"
                        [width]="200">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'LABEL_PROOF.UPDATED_DATE'| translate }}" prop="updatedDate"
                        [width]="200">
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>
        </section>

        <!-- Model -->
        <ng-template #modalAddExhCode let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.ADD_EXH_CODE' | translate}}</h5>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <app-add-exh-code (afterCreateExhCode)="afterCreateExhCode()"></app-add-exh-code>
            </div>
        </ng-template>

        <ng-template #modalEditExhCode let-modal>
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.UPDATE_EXH_CODE' | translate}}</h5>
              <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <app-edit-exh-code (afterEditExhCode)="afterEditExhCode()"></app-edit-exh-code>
            </div>
          </ng-template>

    </div>
</div>