<div class="row overflow-auto" style="margin-bottom: 50px;">
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'LABEL.NO'| translate }}</th>
                <th width="30%">{{ 'LABEL.UNITNAME'| translate }}</th>
                <th>{{ 'LABEL.UNIT_CODE'| translate }}</th>
                <th>{{ 'LABEL.EMAIL'| translate }}</th>
                <th>{{ 'LABEL.DES'| translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of obj; let i = index">
                <td>{{ i+1 }}</td>
                <td><strong>{{currentLang == 'vn'? item?.unitName : item?.unitNameEn}}</strong></td>
                <td>{{ item.unitCode }}</td>
                <td>{{item.email}}</td>
                <td>{{currentLang == 'vn'? item?.description : item?.descriptionEn}}</td>
            </tr>
        </tbody>
    </table>
</div>
