<div class="content-wrapper container-xxl p-0" id="myModal">
    <div class="content-body">
        <!-- / Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <!-- <h5 class="card-header">Thêm mới người dùng</h5> -->
                        <div class="card-body">
                            <ng-container *ngFor="let item of listCode; index as i;">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <h2>{{item.exhibitionCode}}</h2>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input type="text" id="login-name-column" class="form-control"
                                            placeholder="{{ 'LABEL_PROOF.CODE'| translate }}" name="login-column"
                                            [maxlength]="2" mask="00" [(ngModel)]="listExhCode[i]" required />
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row">
                                <div class="col-12">
                                    <button rippleEffect class="btn btn-primary mr-1" (click)="saveExhCode()">{{
                                        'ACTION.SAVE'| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic multiple Column Form section end -->
    </div>
</div>