<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- page users view start -->
      <section *ngIf="objRevert == null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-12 col-lg-12">
            <div class="card user-card">
              <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                        <div class="d-flex justify-content-start">
                            <div class="mr-1 ml-0">
                                <div class="rounded-circle p-3 bg-light-success" style="height: 150px; width: 150px;">
                                    <h2 class="d-flex justify-content-center mt-1 text-success">
                                        {{ data?.name | initials }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                    <div class="user-info-wrapper">
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="menu" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.NAME'| translate }}</span>
                        </div>
                        <p class="card-text mb-0"*ngIf="currentLang == 'vn'" [ngStyle]="{'color': dataRevert?.name ? 'indianred' : '#6E6B7B'}"> 
                          {{ dataRevert?.name ? dataRevert?.name : data?.name }}
                          <b *ngIf="dataRevert?.name">---> {{ obj?.name }}</b>
                      </p>
                      <p class="card-text mb-0"  *ngIf="currentLang == 'en'"  > 
                          {{ dataRevert?.nameEn ? dataRevert?.nameEn : data?.nameEn }}
                          <b *ngIf="dataRevert?.nameEn">---> {{ obj?.nameEn }}</b>
                      </p>

                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="code" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.CODE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data?.code }}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="tag" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.DESCRIPTION'| translate }}</span>
                        </div>
                        <p class="card-text mb-0"   *ngIf="currentLang == 'vn'" [ngStyle]="{'color': dataRevert?.description ? 'indianred' : '#6E6B7B'}"> 
                          {{ dataRevert?.description ? dataRevert?.description : data?.description }}
                          <b *ngIf="dataRevert?.description">---> {{ obj?.description }}</b>
                      </p>
                      <p class="card-text mb-0"  *ngIf="currentLang == 'en'"  [ngStyle]="{'color': dataRevert?.description ? 'indianred' : '#6E6B7B'}" > 
                          {{ dataRevert?.description ? dataRevert?.description : data?.description }}
                          <b *ngIf="dataRevert?.descriptionEn">---> {{ obj?.description }}</b>
                      </p>
                        <!-- <p class="card-text mb-0">{{ data?.description }}</p> -->
                      </div>

                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                            <i data-feather="frown" class="mr-1"></i>
                            <span class="card-text user-info-title font-weight-bold mb-0">{{
                                'MENU.CATEGORIES'| translate }}</span>
                        </div>
                        <p class="card-text mb-0" *ngIf="currentLang == 'vn'"
                            [ngStyle]="{'color': dataRevert?.categoryId ? 'indianred' : '#6E6B7B'}">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {{ dataRevert?.categoryName ? dataRevert?.categoryName :
                            data?.categoryName }}
                            <b *ngIf="dataRevert?.categoryId">---> {{ obj?.categoryName
                                }}</b>
  
                        </p>
                        <p class="card-text mb-0" *ngIf="currentLang == 'en'"
                            [ngStyle]="{'color': dataRevert?.categoryId  ? 'indianred' : '#6E6B7B'}">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {{ dataRevert?.categoryNameEn ? dataRevert?.categoryNameEn :
                            data?.categoryNameEn }}
                            <b *ngIf="dataRevert?.categoryId">---> {{ obj?.categoryNameEn
                                }}</b>
  
                        </p>
                        <!-- <p class="card-text mb-0"> &nbsp;&nbsp;&nbsp;&nbsp;{{ currentLang == 'vn' ? data?.organizationName : data?.organizationNameEn }}</p> -->
  
                    </div>
                      
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="flag" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.ORG'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data?.orgramName }}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="archive" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.NAME_VN'| translate }}</span>
                        </div>
                        <!-- <p class="card-text mb-0">{{ data?.standarName }}</p> -->

                        <p class="card-text mb-0"  [ngStyle]="{'color': dataRevert?.standarName  ? 'indianred' : '#6E6B7B'}"> 
                          {{ dataRevert?.standarName ? dataRevert?.standarName : data?.standarName }}
                      </p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="clock" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.CREATED_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data?.createdDate | date: dateFormat}}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.CREATED_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data?.create_by }}</p>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="clock" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.UPDATED_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 "   [ngStyle]="{'color': dataRevert?.updatedDate ? 'indianred' : '#6E6B7B'}">
                          {{ dataRevert?.updatedDate ? dataRevert?.updatedDate : data?.updatedDate | date: dateFormat}}
                          <b *ngIf="dataRevert?.updatedDate">---> {{ obj?.updatedDate | date: dateFormat}}</b>
                      </p>

                        <!-- <p class="card-text mb-0">{{ data?.updatedDate | date:'dd-MM-yyyy HH:mm:ss' }}</p> -->
                      </div>
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.UPDATED_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 "   [ngStyle]="{'color': dataRevert?.update_by ? 'indianred' : '#6E6B7B'}">
                          {{ dataRevert?.update_by ? dataRevert?.update_by : data?.update_by }}
                          <b *ngIf="dataRevert?.update_by">---> {{ obj?.update_by }}</b>
                      </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- /User Card Ends-->
      </section>
      <!-- page users view end -->

      <section *ngIf="objRevert != null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
            <!-- User Card starts-->
            <div class="col-xl-12 col-lg-12">
                <div class="card user-card">
                    <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                              <tr>
                                <th>{{ 'LABEL.properties'| translate }}</th>
                                <th>{{ 'LABEL.Before_the_update'| translate }}</th>
                                <th>{{ 'LABEL.After_the_update'| translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="currentLang == 'vn'"
                                    [ngClass]="{'table-warning': objRevert.name != obj.name }">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CRITERIA.NAME'| translate }}</span>
                                    </td>
                                    <td>{{ objRevert?.name }} </td>
                                    <td>{{obj?.name}} </td>
                                </tr>

                                <tr *ngIf="currentLang == 'en'"
                                    [ngClass]="{'table-warning': objRevert.nameEn != obj.nameEn }">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CRITERIA.NAME'| translate }}</span>
                                    </td>
                                    <td>{{objRevert?.nameEn}}</td>
                                    <td>{{obj?.nameEn}} </td>
                                </tr>

                                <tr [ngClass]="{'table-warning': data.categoryName != obj.categoryName}">
                                  <td>
                                      <span class="card-text user-info-title font-weight-bold mb-0">{{
                                          'MENU.CATEGORIES'| translate }}</span>
                                  </td>
                                  <td>{{currentLang == 'vn' ? data?.categoryName : data?.categoryNameEn}}
                                  </td>
                                  <td>{{currentLang == 'vn' ? obj?.categoryName : obj?.categoryNameEn}}
                                  </td>
              
                              </tr>

                                <tr >
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL.ORG'| translate }}</span>
                                    </td>
                                    <td>{{ data?.orgramName }}
                                    </td>
                                    <td>{{obj?.orgramName }}
                                    </td>

                                </tr>

                                <tr >
                                  <td>
                                      <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.NAME_VN'| translate }}</span>
                                  </td>
                                  <td>{{data?.standarName }}
                                  </td>
                                  <td>{{ obj?.standarName}}
                                  </td>

                              </tr>



                                <tr *ngIf="currentLang == 'vn'"
                                    [ngClass]="{'table-warning': objRevert.description != obj.description}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CRITERIA.DESCRIPTION'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.description}}</td>
                                    <td>{{obj.description}}</td>
                                </tr>

                                <tr *ngIf="currentLang == 'en'"
                                    [ngClass]="{'table-warning': objRevert.descriptionEn != obj.descriptionEn}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.description'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.descriptionEn}}</td>
                                    <td>{{obj.descriptionEn}}</td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CREATED_DATE'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.createdDate}}</td>
                                    <td>{{obj.createdDate}}</td>
                                </tr>

                                <tr [ngClass]="{'table-warning': objRevert.create_by != obj.create_by}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CREATED_BY'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.create_by}}</td>
                                    <td>{{obj.create_by}}</td>

                                </tr>

                                <tr [ngClass]="{'table-warning': objRevert.updatedDate != obj.updatedDate}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CATEGORIES_UPDATED'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.updatedDate}}</td>
                                    <td>{{obj.updatedDate }}</td>
                                </tr>
                                <tr [ngClass]="{'table-warning': objRevert.update_by != obj.update_by}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.UPDATED_BY'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.update_by}}</td>
                                    <td>{{obj.update_by}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /User Card Ends-->
    </section>
    </div>
  </div>
  