<!DOCTYPE html>
<html>
    <head>
        <title th:remove="all">Xác nhận yêu cầu cấp lại mật khẩu mới</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
		<p>Xin chào <b><span th:text="${username}"></span></b></p>
		<p>Hệ thống nhận được yêu cầu của bạn về việc cấp lại mật khẩu mới.</p>
		<p>Nếu đúng là bạn, hãy truy cập vào link bên dưới để xác nhận yêu cầu.</p>
		<p><a th:href="${confirmUrl}">Xác nhận cấp lại mật khẩu</a></p>
		<hr style="margin-top: 1rem;"/>
		<p>Trân trọng!</p>
		<p>Hệ thống quản lý minh chứng</p>
    </body>
</html>