<!DOCTYPE html>
<html>
    <head>
        <title th:remove="all">Đặt lại mật khẩu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
		<p>Xin chào <b><span th:text="${username}"></span></b></p>
		<p>Mật khẩu mới của bạn để đăng nhập vào hệ thống là <b><span th:text="${password}"></span></b></p>
		<p>Hãy đăng nhập vào hệ thống và thay đổi mật khẩu mới.</p>
		<hr style="margin-top: 1rem;"/>
		<p>Trân trọng!</p>
		<p>Hệ thống quản lý minh chứng</p>
    </body>
</html>