<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- Assessment List -->
    <section class="users-list-wrapper">
      <!-- Assessment filter start -->
      <div class="card">
        <!-- <h5 class="card-header">Quản lý báo cáo</h5> -->
        <div class="card-body">
          <div class="users-list-filter">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>{{ 'MESSAGE.ASSESSMENT.SEARCHBOX'| translate }}</label>
                  <div *ngIf="acceptAction.search" class="input-group mb-2">
                    <input type="text" class="form-control"
                      placeholder="{{ 'MESSAGE.ASSESSMENT.SEARCHBOX'| translate }}" aria-label="Nhập tên báo cáo, mô tả"
                      aria-describedby="basic-addon-search1" (keyup.enter)="searchAssessment()" [(ngModel)]="keyword" />
                    <div class="input-group-append" (click)="searchAssessment()">
                      <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                    </div>
                  </div>
                  <div *ngIf="!acceptAction.search" class="input-group mb-2">
                    <input type="text" class="form-control"
                      placeholder="{{ 'MESSAGE.ASSESSMENT.SEARCHBOX'| translate }}" aria-label="Nhập tên báo cáo, mô tả"
                      aria-describedby="basic-addon-search1" [(ngModel)]="keyword" />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="acceptAction.search" class="col-md-6 col-12">
                <div class="col-md-6 col-12">
                  <label>{{ 'LABEL.PROGRAMS'| translate }}</label>
                  <ng-select *ngIf="currentLang == 'vn'" id="role-column" [items]="listPrograms" bindLabel="name" bindValue="id"
                    (change)="onChangePro()" (clear)="resetPro()" [(ngModel)]="programId" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                    placeholder="{{ 'LABEL.PROGRAM'| translate }}">
                  </ng-select>
                  <ng-select *ngIf="currentLang == 'en'" id="role-column" [items]="listPrograms" bindLabel="nameEn" bindValue="id"
                    (change)="onChangePro()" (clear)="resetPro()" [(ngModel)]="programId" notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                    placeholder="{{ 'LABEL.PROGRAM'| translate }}">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Assessment filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ 'LABEL.SHOW'| translate }}
                <select class="form-control mx-25" [(ngModel)]="perPage" (change)="changePerpage()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <label>{{ 'LABEL.ENTRIES'| translate }}</label>
            </div>
          </div>
          <!-- <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <button class="btn btn-primary ml-1" rippleEffect (click)="openModalAddAssessment(modalAddAssessment)">
                  <span [data-feather]="'star'" [class]="'mr-25'"></span>{{'ACTION.ADD' | translate}}
                </button>
              </div>
            </div> -->
        </div>
        <ngx-datatable *ngIf="acceptAction.search" [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
          [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [externalPaging]="true" [count]="totalRows"
          [offset]="currentPage" [limit]="perPage" (page)="setPage($event)" [messages]="messages">
          <ngx-datatable-column name="{{ 'LABEL.NO'| translate }}" [width]="40" headerClass="header text-center width-5"
            cellClass="center width-5">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{ (currentPage * perPage) + rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.ACTION'| translate }}" [width]="80" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngIf="acceptAction.update" (click)="openAssessment(row.id)" ngbPopover="{{ 'ACTION.EDITOR'| translate }}"
                triggers="mouseenter:mouseleave" placement="right"><i data-feather="eye"
                  class="text-info cursor-pointer ml-50"></i></span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_ASSESSMENT.NAME'| translate }}" prop="name" [width]="200">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a *ngIf="acceptAction.detail" class="font-medium-1 d-block" (click)="detailAssessment(row.id, modalDetailAssessment)"><span
                      class="font-weight-bold text-primary">{{currentLang == 'vn'? row.name : row.nameEn}}</span></a>
                  <a *ngIf="!acceptAction.detail" class="font-medium-1 d-block"><span
                      class="font-weight-bold text-primary">{{currentLang == 'vn'? row.name : row.nameEn}}</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_ASSESSMENT.DESCRIPTION'| translate }}" prop="description" [width]="100">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span> {{currentLang == 'vn'? row.description : row.descriptionEn}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_ASSESSMENT.REPORTYPE'| translate }}" prop="reportType" [width]="120">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let item of ListReportType"> <span *ngIf="row.reportType == item.id">{{currentLang == 'vn'?
                  item.name : item.nameEn}}</span></span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.COMMENT'| translate }}" prop="comment" [width]="100">
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL.STATUS'| translate }}" prop="evaluated" [width]="150">
            <ng-template let-row="row" let-status="value" ngx-datatable-cell-template>
              <div class="badge badge-pill" [ngClass]="{
                  'badge-light-success': status == '3',
                  'badge-light-danger': status == '4',
                  'badge-light-info': status == '2',
                  'badge-light-warning': status == '1',
                  'badge-light-secondary': status == '0',
                  'badge-light-secondary': status == ''
                }">
                <span *ngIf="status=='' || status == 0"> {{currentLang == 'vn'? 'Chưa đánh giá' : 'Not yet rated'}}</span>
                <span *ngIf="status == 1"> {{currentLang == 'vn'? 'Đã comment' : 'Commented'}}</span>
                <span *ngIf="status == 2"> {{currentLang == 'vn'? 'Đã sửa' : 'Fixed'}}</span>
                <span *ngIf="status == 3"> {{currentLang == 'vn'? 'Đạt' : 'Achieve'}}</span>
                <span *ngIf="status == 4"> {{currentLang == 'vn'? 'Không đạt' : 'Not achieved'}}</span>
              </div>
              <div *ngIf="row.deleted == 1"
                  class="badge badge-pill" [ngClass]="{
                  'badge-light-secondary': row.deleted == 1
                }">
                Deleted
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_ASSESSMENT.CREATED_BY'| translate }}" prop="createdBy" [width]="200">
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="trạng thái đánh giá" prop="evaluated" [width]="200"></ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="Loại báo cáo" prop="reportType" [width]="100">
            <ng-template let-role="value" let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let item of ListReportType"> <span *ngIf="row.reportType == item.id">{{currentLang == 'vn'?
                  item.name : item.nameEn}}</span></span>
            </ng-template>
          </ngx-datatable-column> -->
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->


    <ng-template #modalAddAssessment let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.ADD_ASSESSMENT' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-add-assessment (afterCreateAssessment)="afterCreateAssessment()"></app-add-assessment>
      </div>
    </ng-template>
    <!-- Modal detail Assessment-->
    <ng-template #modalDetailAssessment let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.DETAIL_ASSESSMENT' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-detail (afterEditAssessment)="afterEditAssessment()"></app-detail>
      </div>
    </ng-template>
    <!-- / Modal -->
    <!-- Modal edit Assessment-->
    <ng-template #modalEditAssessment let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.UPDATE_ASSESSMENT' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-edit-assessment (afterEditAssessment)="afterEditAssessment()"></app-edit-assessment>
      </div>
    </ng-template>
    <!-- / Modal -->

  </div>
</div>