<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!--      <app-content-header [contentHeader]="contentHeader"></app-content-header>-->
        <!-- / Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <!-- <h5 class="card-header">Thêm mới người dùng</h5> -->
                        <div class="card-body">
                            <form [formGroup]="programsForm" (ngSubmit)="addPrograms()">
                                <div class="row">
                                    <!-- <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="menu-code-column">Mã Menu</label>
                                            <input type="text" id="menu-code-column" class="form-control" placeholder="Mã Menu" name="menu-code-column" formControlName="menuCode" [ngClass]="{ 'is-invalid': addUserFormSubmitted && AddMenuFrom.menuCode.errors }" />
                                            <div *ngIf="addUserFormSubmitted && AddMenuFrom.menuCode.errors" class="invalid-feedback">
                                                <div *ngIf="AddMenuFrom.menuCode.errors.required">Ma quyen bat buoc</div>
                                            </div>

                                        </div>
                                    </div> -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="menu-name-column">{{ 'LABEL_PRO.PROGRAM_NAME'| translate }}<span style="color: red">*</span></label>
                                            <input type="text" id="menu-name-column" class="form-control" placeholder="{{ 'LABEL_PRO.PROGRAM_NAME'| translate }}" name="menu-name-column" formControlName="name" [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.name.errors }" />
                                            <div *ngIf="addProgramsFormSubmitted && AddProgramFrom.name.errors" class="invalid-feedback">
                                                <div *ngIf="AddProgramFrom.name.errors.required">{{ 'MESSAGE.PROGRAM_MANAGEMENT.INPUT_NAME'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>

                           


                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="">{{ 'LABEL_PRO.CATEGORIESEN'| translate }}</label>
                                            <input type="text" id="login-name-column" class="form-control" placeholder="{{ 'LABEL_PRO.CATEGORIESEN'| translate }}" name="login-column" [maxlength]="50" formControlName="nameEn" 
                                            />
                                            <!-- <div *ngIf="addProgramsFormSubmitted && AddProgramFrom.nameEn.errors" class="invalid-feedback">
                                                <div *ngIf="AddProgramFrom.nameEn.errors.required">{{ 'MESSAGE.PROGRAM_MANAGEMENT.INPUT_NAME'| translate }}</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="role-column">{{ 'LABEL_PRO.ORGANIZATION'| translate }}<span style="color: red">*</span></label>
                                            <ng-select *ngIf="currentLang == 'vn'"   notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}" (change)="onChangee()"  (clear)="resetCat()" id="role-column" [items]="listOrganization" bindLabel="name" formControlName="organization" placeholder="{{ 'LABEL_PRO.CATEGORIES'| translate }}" [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.organization.errors }">
                                            </ng-select>
                                            <ng-select *ngIf="currentLang == 'en'"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"  (change)="onChangee()" (clear)="resetCat()" id="role-column" [items]="listOrganization" bindLabel="nameEn" formControlName="organization" placeholder="{{ 'LABEL_PRO.CATEGORIES'| translate }}" [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.organization.errors }">
                                            </ng-select>
                                            <div *ngIf=" addProgramsFormSubmitted && AddProgramFrom.organization.errors " class="invalid-feedback ">
                                                <div *ngIf="AddProgramFrom.organization.errors.required ">{{'MESSAGE.PROGRAM_MANAGEMENT.ORGANIZATION_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                          <label for="role-column">{{ 'MENU.CATEGORIES'| translate }}<span style="color: red">*</span></label>
                                          <ng-select *ngIf="currentLang == 'vn'" [readonly]="disableCat" id="role-column" [items]="listCat" bindLabel="name"
                                            formControlName="categoryId" placeholder="{{ 'LABEL.ORG'| translate }}"
                                            (change)="onChange()" (clear)="resetPro()"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                            [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.categoryId.errors }">
                                          </ng-select>
                                          <ng-select *ngIf="currentLang == 'en'" [readonly]="disableCat" id="role-column" [items]="listCat" bindLabel="nameEn"
                                            formControlName="categoryId" placeholder="{{ 'LABEL.ORG'| translate }}"
                                            (change)="onChange()" (clear)="resetPro()"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                            [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.categoryId.errors }">
                                          </ng-select>
                    
                                          <div *ngIf="addProgramsFormSubmitted && AddProgramFrom.categoryId.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="AddProgramFrom.categoryId.errors.required">{{ 'MESSAGE.DIRECTORY.REQUIRE_ORG'|
                                              translate }}</div>
                                          </div>
                                        </div>
                                      </div>

                                    <div class="col-md-6 col-12 ">
                                        <div class="form-group ">
                                            <label for="url-column ">{{ 'LABEL_PRO.description'| translate }}</label>
                                            <input type="text " id="description" class="form-control " placeholder="{{ 'LABEL_PRO.description'| translate }} " name="fname-column " formControlName="description" [maxlength]="100 " [ngClass]="{ 'is-invalid': addProgramsFormSubmitted && AddProgramFrom.description.errors }"
                                            />
                                            <div *ngIf="addProgramsFormSubmitted && AddProgramFrom.description.errors " class="invalid-feedback ">
                                                <div *ngIf="AddProgramFrom.description.errors.required ">{{'MESSAGE.CATEGORIES_MANAGEMENT.DESCRIPTION'| translate }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="login-name-column">{{ 'LABEL_PRO.DESCRIPTION_EN'| translate }}</label>
                                            <input type="text" id="description" class="form-control" id="basicTextarea" rows="1" placeholder="{{ 'LABEL_ASSESSMENT.DESCRIPTION_EN'| translate }}" formControlName="descriptionEn" />

                                        </div>
                                    </div>

                                    <div class="col-12 ">
                                        <button type="submit" rippleEffect class="btn btn-primary mr-1 ">{{ 'ACTION.SAVE'| translate }}</button>
                                        <button type="reset" rippleEffect class="btn btn-outline-secondary ">{{ 'ACTION.RESET'| translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic multiple Column Form section end -->
        <!-- Modal -->
        <ng-template #modalSM let-modal>
            <div class="modal-header ">
                <h5 class="modal-title " id="myModalLabel160 ">Chọn Icon</h5>
                <button type="button " class="close " (click)="modal.dismiss( 'Cross click') " aria-label="Close ">
        <span aria-hidden="true ">&times;</span>
      </button>
            </div>
            <div class="modal-body " tabindex="0 " ngbAutofocus>
                <section id="feather-icons ">
                    <div class="row ">
                        <div class="col-12 ">
                            <div class="icon-search-wrapper my-3 mx-auto ">
                                <div class="form-group input-group input-group-merge ">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text "><i data-feather="search "></i></span>
                                    </div>
                                    <input type="text " class="form-control " id="icons-search " [(ngModel)]="searchText " placeholder="Search Icons... " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap " id="icons-container ">
                        <div (click)="copy(dat.key); modal.dismiss( 'Cross click') " [id]="i " container="body " placement="top " [ngbTooltip]="dat.key " class="card icon-card cursor-pointer text-center mb-2 mx-50 " *ngFor="let dat of data | keyvalue
                                                | filter: searchText: 'key'; let i=i ndex ">
                            <div class="card-body ">
                                <div class="icon-wrapper ">
                                    <i [data-feather]="dat.key " [size]="24 "></i>
                                </div>
                                <p class="icon-name text-truncate mb-0 mt-1 ">{{ dat.key }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " (click)="modal.close( 'Accept click') ">Accept</button>
            </div>
        </ng-template>
        <!-- / Modal -->
    </div>
</div>