<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- / Basic multiple Column Form section start -->
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <!-- <h5 class="card-header">Thêm mới người dùng</h5> -->
                        <div class="card-body">
                            <form [formGroup]="editProofForm" (ngSubmit)="editProof()">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="proof-code-column">{{ 'LABEL_PROOF.CODE'| translate }}<span
                                                    style="color: red">*</span></label>
                                            <input type="text" id="proof-code-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.CODE'| translate }}" name="name-column"
                                                [maxlength]="50" formControlName="proofCode" readonly />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="proof-name-column">{{ 'LABEL_PROOF.NAME'| translate }}<span
                                                    style="color: red">*</span></label>
                                            <textarea id="proof-name-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.NAME'| translate }}" name="name-column"
                                                rows="1" [maxlength]="255" formControlName="proofName"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.proofName.errors }"></textarea>
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.proofName.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.proofName.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.PROOFNAME_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="proof-name-column">{{ 'LABEL_PROOF.NAME_EN'| translate
                                                }}</label>
                                            <textarea id="proof-name-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.NAME_EN'| translate }}" name="name-column"
                                                [maxlength]="50" rows="1" formControlName="proofNameEn"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.proofNameEn.errors }"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="documentType-column">{{ 'LABEL_PROOF.DOCUMENT_TYPE'| translate}}
                                                <span style="color: red">*</span></label>
                                            <ng-select *ngIf="currentLang == 'vn'" name="documentType-column"
                                                formControlName="documentType" [items]="listDocumentType"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [closeOnSelect]="true" [loading]="unitLoading" [searchable]="true"
                                                bindLabel="name" bindValue="id"
                                                placeholder="{{ 'LABEL_PROOF.DOCUMENT_TYPE'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.documentType.errors }">
                                            </ng-select>

                                            <ng-select *ngIf="currentLang == 'en'" name="documentType-column"
                                                formControlName="documentType" [items]="listDocumentType"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [closeOnSelect]="true" [loading]="unitLoading" [searchable]="true"
                                                bindLabel="nameEn" bindValue="id"
                                                placeholder="{{ 'LABEL_PROOF.DOCUMENT_TYPE'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.documentType.errors }">
                                            </ng-select>


                                            <div *ngIf="editProofFormSubmitted && EditProofForm.documentType.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.documentType.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.DOCUMENT_TYPE_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="numberSign-column">{{ 'LABEL_PROOF.NUMBER_SIGN'| translate }}
                                            </label>
                                            <input type="text" id="numberSign-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.NUMBER_SIGN'| translate }}"
                                                name="numberSign-column" formControlName="numberSign"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.numberSign.errors }" />
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.numberSign.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.numberSign.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.NUMBER_SIGN_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="releaseDate-column">{{ 'LABEL_PROOF.RELEASE_DATE'| translate }}

                                            </label>
                                            <input type="date" id="releaseDate-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.RELEASE_DATE'| translate }}"
                                                name="releaseDate-column" formControlName="releaseDate"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.releaseDate.errors }" />
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.releaseDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.releaseDate.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.RELEASE_DATE_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="signer-column">{{ 'LABEL_PROOF.SIGNER'| translate }} </label>
                                            <input type="text" id="signer-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.SIGNER'| translate }}" name="signer-column"
                                                formControlName="signer"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.signer.errors }" />
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.signer.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.signer.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.SIGNER_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="field-column">{{ 'LABEL_PROOF.FIELD'| translate }}
                                                <span style="color: red">*</span> </label>
                                            <ng-select *ngIf="currentLang == 'vn'" name="field-column"
                                                formControlName="field" [items]="listField" [closeOnSelect]="true"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [loading]="unitLoading" [searchable]="true" bindLabel="name"
                                                bindValue="id" placeholder="{{ 'LABEL_PROOF.FIELD'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.field.errors }">
                                            </ng-select>

                                            <ng-select *ngIf="currentLang == 'en'" name="field-column"
                                                formControlName="field" [items]="listField" [closeOnSelect]="true"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [loading]="unitLoading" [searchable]="true" bindLabel="nameEn"
                                                bindValue="id" placeholder="{{ 'LABEL_PROOF.FIELD'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.field.errors }">
                                            </ng-select>

                                            <div *ngIf="editProofFormSubmitted && EditProofForm.field.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.field.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.FIELD_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="releaseBy-column">{{ 'LABEL_PROOF.RELEASE_BY'| translate }}
                                                <span style="color: red">*</span></label>
                                            <ng-select *ngIf="currentLang == 'vn'" name="releaseBy-column"
                                                formControlName="releaseBy" [items]="listUnit" [closeOnSelect]="false"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [loading]="unitLoading" [searchable]="true" bindLabel="unitName"
                                                bindValue="id" placeholder="{{ 'LABEL_PROOF.SELECT_UNIT'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.releaseBy.errors }">
                                            </ng-select>

                                            <ng-select *ngIf="currentLang == 'en'" name="releaseBy-column"
                                                formControlName="releaseBy" [items]="listUnit" [closeOnSelect]="false"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                                                [loading]="unitLoading" [searchable]="true" bindLabel="unitNameEn"
                                                bindValue="id" placeholder="{{ 'LABEL_PROOF.SELECT_UNIT'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.releaseBy.errors }">
                                            </ng-select>
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.releaseBy.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.releaseBy.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.RELEASE_BY_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="description-column">{{ 'LABEL_PROOF.DESCRIPTION'| translate }}
                                            </label>
                                            <textarea class="form-control" id="description-column" rows="1"
                                                placeholder="{{ 'LABEL_PROOF.DESCRIPTION'| translate }}"
                                                formControlName="description" name="description-column"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.description.errors }"></textarea>
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.description.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.description.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.DESCRIPTION_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="description-column">{{ 'LABEL_PROOF.DESCRIPTION_EN'| translate
                                                }} </label>
                                            <textarea class="form-control" id="description-column" rows="1"
                                                placeholder="{{ 'LABEL_PROOF.DESCRIPTION_EN'| translate }}"
                                                formControlName="descriptionEn" name="description-column"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.descriptionEn.errors }"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="note-column">{{ 'LABEL_PROOF.NOTE'| translate }} </label>
                                            <input type="text" id="note-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.NOTE'| translate }}" name="note-column"
                                                formControlName="note" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="note-column">{{ 'LABEL_PROOF.NOTE_EN'| translate }} </label>
                                            <input type="text" id="note-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.NOTE_EN'| translate }}" name="note-column"
                                                formControlName="noteEn" />
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12 hidden">
                                        <div class="form-group">
                                            <input type="text" id="documentType-column" class="form-control"
                                                placeholder="{{ 'LABEL_PROOF.DOCUMENT_TYPE'| translate }}"
                                                name="documentType-column" formControlName="exhFile" />
                                        </div>
                                    </div>

                                    <!-- <div *ngIf="!mySwitch" class="col-8">
                                        <label for="attachments-column">{{ 'LABEL_PROOF.ATTACHMENTS'| translate}}<span
                                                style="color: red">*</span></label>
                                        <div class="form-group file-input">
                                            <input type="file" #attachments id="attachments-column"
                                                accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                                class="form-control-file" 
                                                placeholder="{{ 'LABEL_PROOF.ATTACHMENTS'| translate }}"
                                                name="attachments-column" (change)="onFileChange($event)"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.attachments.errors }" />
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.attachments.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.attachments.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.ATTACHMENTS_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                        <div class="file-upload">
                                            <ng-container *ngFor="let item of fileList; let i = index;">
                                                <div class="col-12">
                                                    <label for="login-name-column"><span
                                                            [data-feather]="'paperclip'"></span>{{item || "File not found !!!"}}</label>
                                                </div>
                                            </ng-container>
                                            <button type="button"
                                                class="btn btn-icon rounded-circle btn-outline-primary ml-1"
                                                (click)="attachments.click()" rippleEffect
                                                ngbPopover="{{ 'LABEL_ASSESSMENT.FILE'| translate }}"
                                                triggers="mouseenter:mouseleave" placement="right">
                                                <span [data-feather]="'paperclip'"></span></button>
                                        </div>
                                    </div> -->

                                    <div class="col-8">
                                        <label for="attachments-column">{{ 'LABEL_PROOF.ATTACHMENTS'| translate}}<span
                                                style="color: red">*</span></label>
                                        <div class="form-group file-input">
                                            <input type="file" #attachments id="attachments-column" multiple
                                                class="form-control-file" 
                                                accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                                placeholder="{{ 'LABEL_PROOF.ATTACHMENTS'| translate }}"
                                                name="attachments-column" (change)="onFileChange($event)"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.attachments.errors }" />
                                            <div *ngIf="editProofFormSubmitted && EditProofForm.attachments.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.attachments.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.ATTACHMENTS_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                        <div class="file-upload">
                                            <ng-container *ngFor="let item of fileList; let i = index;">
                                                <div class="col-12">
                                                    <label for="login-name-column"><span
                                                            [data-feather]="'paperclip'"></span>{{item || "File not
                                                        found !!!"}}</label>
                                                </div>
                                            </ng-container>
                                            <button type="button"
                                                class="btn btn-icon rounded-circle btn-outline-primary ml-1"
                                                (click)="attachments.click()" rippleEffect
                                                ngbPopover="{{ 'LABEL_ASSESSMENT.FILE'| translate }}"
                                                triggers="mouseenter:mouseleave" placement="right">
                                                <span [data-feather]="'paperclip'"></span></button>
                                        </div>
                                    </div>
                                    <!-- <div class="col-4">
                                        <div class="custom-control custom-switch custom-switch-success">
                                            <p class="mb-50">Folder</p>
                                            <input type="checkbox" (change)="changeCheckbox($event)"
                                                [(ngModel)]="mySwitch" class="custom-control-input" [ngModelOptions]="{standalone: true}"
                                                id="customSwitch111" />
                                            <label class="custom-control-label" for="customSwitch111">
                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                            </label>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="authorization-column">{{ 'LABEL_PROOF.AUTHORIZATION'|translate}}</label>
                                            <ng-select *ngIf="currentLang == 'vn'" name="authorization-column"
                                                formControlName="unit" [items]="listUnit" [closeOnSelect]="false"
                                                [loading]="unitLoading" [multiple]="true" [searchable]="true"
                                                bindLabel="unitName"
                                                placeholder="{{ 'LABEL_PROOF.SELECT_UNIT'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.unit.errors }">
                                            </ng-select>

                                            <ng-select *ngIf="currentLang == 'en'" name="authorization-column"
                                                formControlName="unit" [items]="listUnit" [closeOnSelect]="false"
                                                [loading]="unitLoading" [multiple]="true" [searchable]="true"
                                                bindLabel="unitNameEn"
                                                placeholder="{{ 'LABEL_PROOF.SELECT_UNIT'| translate }}"
                                                [ngClass]="{ 'is-invalid': editProofFormSubmitted && EditProofForm.unit.errors }">
                                            </ng-select>

                                            <div *ngIf="editProofFormSubmitted && EditProofForm.unit.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EditProofForm.unit.errors.required">{{
                                                    'MESSAGE.PROOF_MANAGEMENT.AUTHORIZATION_REQUIRE'| translate }}</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-12">
                                        <button type="submit" rippleEffect class="btn btn-primary mr-1">{{
                                            'ACTION.SAVE'|
                                            translate }}</button>
                                        <button type="button" rippleEffect class="btn btn-outline-secondary"
                                            (click)="resetForm()">{{ 'ACTION.RESET'| translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic multiple Column Form section end -->
    </div>
</div>
