<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- User List -->
        <section class="users-list-wrapper">
            <!-- users filter start -->
            <div class="card">
                <!-- <h5 class="card-header">Quản lý lịch sử</h5> -->
                <div class="card-body">
                    <div class="users-list-filter">
                        <div class="col-md-6 col-12">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" placeholder="{{ 'MESSAGE.LOG_MANAGEMENT.SEARCHBOX'| translate }}" aria-label="Nhập tên người dùng, chức năng, url" aria-describedby="basic-addon-search1" (keyup.enter)="searchLog()" [(ngModel)]="keyword"
                                />
                                <div class="input-group-append" (click)="searchLog()">
                                    <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- users filter end -->

            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">{{ 'LABEL.SHOW'| translate }}
                  <select class="form-control mx-25" [(ngModel)]="perPage" (change)="changePerpage()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  {{ 'LABEL.ENTRIES'| translate }}</label
                >
              </div>
            </div>
            <!-- <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                  <button class="btn btn-primary ml-1" rippleEffect (click)="onExportToExcel()">
                    <span [data-feather]="'arrow-down'" [class]="'mr-25'"></span>{{ 'LABEL.EXPORT'| translate }}
                  </button>
                </div>
              </div>
            </div> -->
          </div>
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [externalPaging]="true"
            [count]="totalRows"
            [offset]="currentPage"
            [limit]="perPage"
            (page)="setPage($event)">
            <ngx-datatable-column name="{{ 'LABEL.NO'| translate }}" [width]="40"
              headerClass="header text-center width-5" cellClass="center width-5">
              <ng-template let-rowIndex="rowIndex" let-row="row"
                ngx-datatable-cell-template>
                <strong class="ml-1">{{ (currentPage * perPage) + rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_LOG.IP'| translate }}" prop="ip" [width]="180">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div class="cell-line-height">
                    <a class="font-medium-1 d-block" (click)="detailLog(row.id, modalDetailLog)"
                    ><span class="font-weight-bold text-primary">{{ name }}</span></a
                    >
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_LOG.USER'| translate }}" prop="user" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_LOG.TIME'| translate }}" prop="actionTime" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_LOG.METHOD'| translate }}" prop="method" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_LOG.URL'| translate }}" prop="url" [width]="230"></ngx-datatable-column>
          </ngx-datatable>
        </div> 
      </section>
      <!--/ Log List -->

      <!-- Modal detail log-->
      <ng-template #modalDetailLog let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.DETAIL_LOG' | translate}}</h5>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <app-detail-log></app-detail-log>
        </div>
      </ng-template>
    </div>
  </div>