<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- page users view start -->
      <section *ngIf="objRevert == null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-12 col-lg-12">
            <div class="card user-card">
              <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                      <div class="d-flex justify-content-start">
                        <div class="mr-1 ml-0">
                            <div
                              class="rounded-circle p-3 bg-light-success" style="height: 150px; width: 150px;"
                            >
                              <h2
                                class="d-flex justify-content-center mt-1 text-success" >
                                {{ data.name | initials }}
                              </h2>
                            </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                    <div class="user-info-wrapper">
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="star" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_ASSESSMENT.NAME'| translate }}</span>
                        </div>
                        <p class="card-text mb-0" *ngIf="currentLang == 'vn'"
                        [ngStyle]="{'color': dataRevert?.name ? 'indianred' : '#6E6B7B'}"> 
                        {{ dataRevert?.name ? dataRevert?.name : data?.name }}
                        <b *ngIf="dataRevert?.name">---> {{ obj?.name }}</b>

                      </p>
                      <p class="card-text mb-0" *ngIf="currentLang == 'en'"
                        [ngStyle]="{'color': dataRevert?.nameEn ? 'indianred' : '#6E6B7B'}"> 
                        {{ dataRevert?.nameEn ? dataRevert?.nameEn : data?.nameEn }}
                        <b *ngIf="dataRevert?.nameEn">---> {{ obj?.nameEn }}</b>

                      </p>    
                        <!-- <p class="card-text mb-0">{{ data.name }}</p> -->
                      </div>

                      <!-- <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="frown" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{
                            'LABEL.PROGRAMS'| translate }}</span>
                        </div>
  
                        <p class="card-text mb-0"> &nbsp;&nbsp;&nbsp;&nbsp;{{ currentLang == 'vn' ? data?.programName :
                          data?.programNameEn }}</p>
  
                      </div> -->
  
                   
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="twitch" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.DESCRIPTION'| translate }}</span>
                        </div>
                        <p class="card-text mb-0" *ngIf="currentLang == 'vn'"
                        [ngStyle]="{'color': dataRevert?.description ? 'indianred' : '#6E6B7B'}">
                        {{ dataRevert?.description ? dataRevert?.description : data?.description }}
                        <b *ngIf="dataRevert?.description">---> {{ obj?.description }}</b>

                      </p>
                      <p class="card-text mb-0" *ngIf="currentLang == 'en'"
                        [ngStyle]="{'color': dataRevert?.descriptionEn ? 'indianred' : '#6E6B7B'}">
                        {{ dataRevert?.descriptionEn ? dataRevert?.descriptionEn : data?.descriptionEn }}
                        <b *ngIf="dataRevert?.descriptionEn">---> {{ obj?.descriptionEn }}</b>

                      </p>
                      

                        <!-- <p class="card-text mb-0">{{ data.description}}</p> -->
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.CREATED_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data.createdBy}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="calendar" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.CREATED_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 ">{{ data?.createdDate| date:dateFormat}}</p>
                        <!-- <p class="card-text mb-0">{{ data?.createdDate | date: dateFormat}}</p> -->
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.UPDATE_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 " [ngStyle]="{'color': dataRevert?.updatedBy ? 'indianred' : '#6E6B7B'}">
                        
                          {{ dataRevert?.updatedBy ? dataRevert?.updatedBy : data?.updatedBy }}
                        </p>
                        <b *ngIf="dataRevert?.updatedBy">---> {{ obj?.updatedBy }}</b>

                        <!-- <p class="card-text mb-0">{{ data.updatedBy}}</p> -->
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="calendar" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.UPDATE_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0 " [ngStyle]="{'color': dataRevert?.updatedDate ? 'indianred' : '#6E6B7B'}">
                        
                          {{ dataRevert?.updatedDate ? dataRevert?.updatedDate : data?.updatedDate| date:dateFormat }}
                        </p>
                        <b *ngIf="dataRevert?.updatedDate">---> {{ obj?.updatedDate }}</b>

                        <!-- <p class="card-text mb-0" *ngIf="data.updatedBy">{{ data.updatedDate | date: dateFormat}}</p> -->
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="link" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">File</span>
                        </div>
                        <a (click)="onDownloadFile()" *ngIf="currentUserName == data.createdBy || roleAdmin === 'true'"
                        ngbPopover="{{ 'LABEL.DOWNLOAD'| translate }}" triggers="mouseenter:mouseleave" placement="right">{{data.file}} &nbsp; <i data-feather="download" class="mr-1"></i></a>
                        <a *ngIf="currentUserName != data.createdBy && roleAdmin === 'false'">{{data.file}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- /User Card Ends-->
      </section>
      <!-- page users view end -->


      <section *ngIf="objRevert != null" class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
            <!-- User Card starts-->
            <div class="col-xl-12 col-lg-12">
                <div class="card user-card">
                    <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>{{ 'LABEL.properties'| translate }}</th>
                                    <th>{{ 'LABEL.Before_the_update'| translate }}</th>
                                    <th>{{ 'LABEL.After_the_update'| translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="currentLang == 'vn'"
                                    [ngClass]="{'table-warning': objRevert.name != obj.name }">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_ASSESSMENT.NAME'| translate }}</span>
                                    </td>
                                    <td>{{ objRevert?.name }} </td>
                                    <td>{{obj?.name}} </td>
                                </tr>

                                <tr *ngIf="currentLang == 'en'"
                                    [ngClass]="{'table-warning': objRevert.nameEn != obj.nameEn }">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_ASSESSMENT.NAME'| translate }}</span>
                                    </td>
                                    <td>{{objRevert?.nameEn}}</td>
                                    <td>{{obj?.nameEn}} </td>
                                </tr>

                                <tr *ngIf="currentLang == 'vn'"
                                    [ngClass]="{'table-warning': objRevert.description != obj.description}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.description'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.description}}</td>
                                    <td>{{obj.description}}</td>
                                </tr>

                                <tr *ngIf="currentLang == 'en'"
                                    [ngClass]="{'table-warning': objRevert.descriptionEn != obj.descriptionEn}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.description'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.descriptionEn}}</td>
                                    <td>{{obj.descriptionEn}}</td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CREATED_DATE'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.createdDate| date:dateFormat}}</td>
                                    <td>{{obj.createdDate| date:dateFormat}}</td>
                                </tr>

                                <tr [ngClass]="{'table-warning': objRevert.createdBy != obj.createdBy}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CREATED_BY'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.createdBy}}</td>
                                    <td>{{obj.createdBy}}</td>

                                </tr>

                                <tr [ngClass]="{'table-warning': objRevert.updatedDate != obj.updatedDate}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.CATEGORIES_UPDATED'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.updatedDate| date:dateFormat}}</td>
                                    <td>{{obj.updatedDate| date:dateFormat}}</td>
                                </tr>

                                <tr [ngClass]="{'table-warning': objRevert.updatedBy != obj.updatedBy}">
                                    <td>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{
                                            'LABEL_CATE.UPDATED_BY'| translate }}</span>
                                    </td>
                                    <td>{{objRevert.updatedBy}}</td>
                                    <td>{{obj.updatedBy}}</td>
                                </tr>


                                <tr [ngClass]="{'table-warning': objRevert.file != obj.file}">
                                  <td>
                                    <span class="card-text user-info-title font-weight-bold mb-0">File</span>
                                  </td>              
                                  <td>{{ objRevert?.file }} </td>
                                  <td>{{  obj?.file }} </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /User Card Ends-->
    </section>
    </div>
  </div>
  