<div class="content-wrapper container-xxl p-0">
  <!-- / Basic multiple Column Form section start -->
  <section id="multiple-column-form">
    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <!-- <h5 class="card-header">Cập nhật người dùng</h5> -->
          <div class="card-body">
            <form [formGroup]="addDirectory" (ngSubmit)="editDirectory()">
              <div class="row">
                <div class="col-md-6 col-12" hidden="true">
                  <div class="form-group">
                    <label for="login-name-column">{{ 'LABEL.ID'| translate }} <span style="color: red">*</span></label>
                    <input type="text" id="login-name-column" class="form-control"
                      placeholder="{{ 'LABEL.ID'| translate }}" name="login-column" formControlName="id" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label for="full-name-column">{{ 'LABEL.CODE'| translate }} <span
                        style="color: red">*</span></label>
                    <input type="text" id="full-name-column" class="form-control"
                      placeholder="{{ 'LABEL.CODE'| translate }} " name="fname-column" formControlName="code" readonly
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.code.errors }" />
                    <div *ngIf="addDirectorySubmitted && AddDirectory.code.errors" class="invalid-feedback">
                      <div *ngIf="AddDirectory.code.errors.required">{{ 'MESSAGE.DIRECTORY.CODE'| translate }}</div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="role-column">{{ 'LABEL.ORG'| translate }}<span style="color: red">*</span></label>
                    <ng-select *ngIf="currentLang == 'vn'" id="role-column"  [readonly]="true"[items]="listOrg" bindLabel="name"
                      bindValue="id" formControlName="organizationId" (change)="onChange()" (clear)="resetPro()"
                      placeholder="{{ 'LABEL.ORG'| translate }}"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.organizationId.errors }">
                    </ng-select>
                    <ng-select *ngIf="currentLang == 'en'" id="role-column" [readonly]="true" [items]="listOrg" bindLabel="nameEn"
                      bindValue="id" formControlName="organizationId" (change)="onChange()" (clear)="resetPro()"
                      placeholder="{{ 'LABEL.ORG'| translate }}"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.organizationId.errors }">
                    </ng-select>
                    <div *ngIf="addDirectorySubmitted && AddDirectory.organizationId.errors" class="invalid-feedback">
                      <div *ngIf="AddDirectory.organizationId.errors.required">{{ 'MESSAGE.DIRECTORY.REQUIRE_ORG'|
                        translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="role-column">{{ 'MENU.CATEGORIES'| translate }}<span style="color: red">*</span></label>
                    <ng-select *ngIf="currentLang == 'vn'"  id="role-column" [items]="listCat"
                      bindValue="id" bindLabel="name" formControlName="categoryId" [searchable]="true"
                      placeholder="{{ 'LABEL_PRO.CATEGORIES'| translate }}"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.categoryId.errors }">
                    </ng-select>
                    <ng-select *ngIf="currentLang == 'en'" id="role-column" [items]="listCat"
                      bindValue="id" bindLabel="nameEn" formControlName="categoryId" [searchable]="true"
                      placeholder="{{ 'LABEL_PRO.CATEGORIES'| translate }}"  notFoundText="{{ 'LABEL_CRITERIA.NO_ITEM_FOULD'| translate }}"
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.categoryId.errors }">
                    </ng-select>
                    <div *ngIf=" addDirectorySubmitted && AddDirectory.categoryId.errors " class="invalid-feedback ">
                      <div *ngIf="AddDirectory.categoryId.errors.required ">
                        {{'MESSAGE.PROGRAM_MANAGEMENT.CATEGORIES_REQUIRE'| translate }}</div>
                      </div>
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="full-name-column">{{ 'LABEL.NAME_VN'| translate }} <span
                        style="color: red">*</span></label>
                    <input type="text" id="full-name-column" class="form-control" [maxlength]="256"
                      (change)="onChangeName()" placeholder="{{ 'LABEL.NAME_VN'| translate }}" name="fname-column"
                      formControlName="name"
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddDirectory.name.errors }" />
                    <div *ngIf="addDirectorySubmitted && AddDirectory.name.errors" class="invalid-feedback">
                      <div *ngIf="AddDirectory.name.errors.required">{{ 'MESSAGE.DIRECTORY.REQUIRE_NAME'| translate }}
                      </div>
                      <div *ngIf="AddDirectory.name.errors.invalidName">
                        {{ 'MESSAGE.DIRECTORY.INVALID_NAME'| translate }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="full-name-column">{{ 'LABEL.NAME_EN'| translate }}</label>
                    <input type="text" id="full-name-column" class="form-control" [maxlength]="256"
                      placeholder="{{ 'LABEL.NAME_EN'| translate }}" name="fname-column" formControlName="nameEn" />
                    <!-- <div *ngIf="addDirectorySubmitted && AddDirectory.nameEn.errors" class="invalid-feedback">
                      <div *ngIf="AddDirectory.nameEn.errors.required">{{ 'MESSAGE.DIRECTORY.REQUIRE_NAME'| translate }}
                      </div>
                    </div> -->
                  </div>
                </div>

                <!-- <div *ngIf="currentUserName == data.create_by" class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="role-column">{{ 'LABEL.BY_USERS'| translate }}</label>
                    <ng-select *ngIf="currentLang == 'vn'" id="role-column" [items]="listUser" bindLabel="fullname"
                      formControlName="userInfos" placeholder="{{ 'LABEL.BY_USERS'| translate }}" [multiple]="true" 
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddNewDirectory.userInfos.errors }">
                    </ng-select>
                  </div>
                </div> -->

                <!-- <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="role-column">{{ 'LABEL.BY_USERS'| translate }}</label>
                    <ng-select *ngIf="currentUserName != data.entity.create_by && roleAdmin === 'false'" id="role-column" [items]="listUser" bindLabel="email" readonly="true"
                      formControlName="userInfos" placeholder="{{ 'LABEL.BY_USERS'| translate }}" [multiple]="true" 
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddNewDirectory.userInfos.errors }">
                    </ng-select>
                    <ng-select *ngIf="currentUserName == data.entity.create_by || roleAdmin === 'true'" id="role-column" [items]="listUser" bindLabel="email"
                      formControlName="userInfos" placeholder="{{ 'LABEL.BY_USERS'| translate }}" [multiple]="true" 
                      [ngClass]="{ 'is-invalid': addDirectorySubmitted && AddNewDirectory.userInfos.errors }">
                    </ng-select>
                  </div>
                </div> -->


                <div class="col-12">
                  <div class="form-group">
                    <label for="full-name-column">{{ 'LABEL.DES_VN'| translate }}</label>

                    <textarea type="text" class="form-control" formControlName="description" [maxlength]="2000"
                      placeholder="{{ 'LABEL.DES_VN'| translate }}">
                      </textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="full-name-column">{{ 'LABEL.DES_EN'| translate }}</label>
                    <textarea type="text" class="form-control" formControlName="descriptionEn" [maxlength]="2000"
                      placeholder="{{ 'LABEL.DES_EN'| translate }}">
                      </textarea>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" rippleEffect class="btn btn-primary mr-1">{{ 'ACTION.SAVE'| translate
                    }}</button>
                  <button type="button" rippleEffect class="btn btn-outline-secondary" (click)="resetForm()">{{
                    'ACTION.RESET'| translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Basic multiple Column Form section end -->
</div>