<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="app-user-view">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <div class="mr-1 ml-0">
                                                <div class="rounded-circle p-3 bg-light-success" style="height: 150px; width: 150px;">
                                                    <h2 class="d-flex justify-content-center mt-1">
                                                        {{ data?.name | initials }}
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <!-- <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="code" class="mr-1"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_CATE.CATEGORIES_CODE'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0"> &nbsp;&nbsp;&nbsp;&nbsp;{{ data?.id }}</p>
                                        </div> -->
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="frown" class="mr-1"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_APP_PARAM.DOCUMENT_TYPE_NAME'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0" *ngIf="currentLang == 'vn'"
                                            [ngStyle]="{'color': dataRevert?.name ? 'indianred' : '#6E6B7B'}"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            {{ dataRevert?.name ? dataRevert?.name : data?.name }}
                                            <b *ngIf="dataRevert?.name">---> {{ obj?.name }}</b>

                                          </p>
                                          <p class="card-text mb-0" *ngIf="currentLang == 'en'"
                                            [ngStyle]="{'color': dataRevert?.nameEn ? 'indianred' : '#6E6B7B'}"> &nbsp;&nbsp;&nbsp;&nbsp;
                                            {{ dataRevert?.nameEn ? dataRevert?.nameEn : data?.nameEn }}
                                            <b *ngIf="dataRevert?.nameEn">---> {{ obj?.nameEn }}</b>

                                          </p>                                  
                                             
                                        </div>

                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="frown" class="mr-1"></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0" >{{ 'LABEL_PRO.ORGANIZATION'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0" *ngIf="currentLang == 'vn'"   [ngStyle]="{'color': dataRevert?.orgName ? 'indianred' : '#6E6B7B'}"> &nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ dataRevert?.orgName ? dataRevert?.orgName : data?.orgName }}
                                                <b *ngIf="dataRevert?.organizationId">--->  {{  obj?.orgName  }}</b>

                                            </p>
                                            <p class="card-text mb-0" *ngIf="currentLang == 'en'"   [ngStyle]="{'color': dataRevert?.organizationId  ? 'indianred' : '#6E6B7B'}"> &nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ dataRevert?.orgNameEn ? dataRevert?.orgNameEn : data?.orgNameEn }}
                                                <b *ngIf="dataRevert?.organizationId">---> {{ obj?.orgNameEn }}</b>

                                            </p>
                                            <!-- <p class="card-text mb-0"> &nbsp;&nbsp;&nbsp;&nbsp;{{ currentLang == 'vn' ? data?.organizationName : data?.organizationNameEn }}</p> -->

                                        </div>
                                          
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="clock" class=" mr-1 "></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 ">{{ 'LABEL_PROOF.CREATED_DATE'| translate }}: </span>
                                            </div>
                                            <p class="card-text mb-0 ">&nbsp;&nbsp;&nbsp;&nbsp;{{ data?.createdDate| date:dateFormat  }}</p>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="clock" class=" mr-1 "></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 ">{{ 'LABEL_PROOF.UPDATED_DATE'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0 " [ngStyle]="{'color': dataRevert?.updatedDate ? 'indianred' : '#6E6B7B'}">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ dataRevert?.updatedDate ? dataRevert?.updatedDate : data?.updatedDate|date:dateFormat   }}
                                                <b *ngIf="dataRevert?.updatedDate">---> {{ obj?.updatedDate }}</b>

                                              </p>
                                        </div>
                              
                                  
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="user" class=" mr-1 "></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 ">{{ 'LABEL_PROOF.CREATED_BY'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0 ">&nbsp;&nbsp;&nbsp;&nbsp;{{ data?.createdBy}}</p>
                                            <b *ngIf="dataRevert?.createdBy">---> {{ obj?.createdBy }}</b>

                                        </div>
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <i data-feather="user" class=" mr-1 "></i>
                                                <span class="card-text user-info-title font-weight-bold mb-0 ">{{ 'LABEL_PROOF.UPDATED_BY'| translate }}</span>
                                            </div>
                                            <p class="card-text mb-0 " [ngStyle]="{'color': dataRevert?.updatedBy ? 'indianred' : '#6E6B7B'}">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ dataRevert?.updatedBy ? dataRevert?.updatedBy : data?.updatedBy }}
                                                <b *ngIf="dataRevert?.updatedBy">---> {{ obj?.updatedBy }}</b>

                                              </p>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>