<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <!-- <h5 class="card-header">Quản lý người dùng</h5> -->
        <div class="card-body">
          <div class="users-list-filter">
            <div class="col-md-6 col-12">
              <div *ngIf="acceptAction.search" class="input-group mb-2">
                <input type="text" class="form-control"
                  placeholder="{{ 'MESSAGE.PROGRAM_MANAGEMENT.SEARCHBOX'| translate }}"
                  aria-label="Nhập mã chương trình, tên chương trình" aria-describedby="basic-addon-search1"
                  (keyup.enter)="searchPrograms()" [(ngModel)]="keyword" />
                <div class="input-group-append" (click)="searchPrograms()">
                  <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                </div>
              </div>
              <div *ngIf="!acceptAction.search" class="input-group mb-2">
                <input type="text" class="form-control"
                  placeholder="{{ 'MESSAGE.PROGRAM_MANAGEMENT.SEARCHBOX'| translate }}"
                  aria-label="Nhập mã chương trình, tên chương trình" aria-describedby="basic-addon-search1" [(ngModel)]="keyword" />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex align-items-center m-1">
              <label class="d-flex align-items-center">{{ 'LABEL.SHOW'| translate }}
                <select class="form-control mx-25" [(ngModel)]="perPage" (change)="changePerpage()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <label>{{ 'LABEL.ENTRIES'| translate }}</label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="addMenu()">-->
              <!--                  <span [data-feather]="'menu'" [class]="'mr-25'"></span>Thêm mới-->
              <!--                </button> -->
              <button *ngIf="acceptAction.delete" class="btn btn-danger ml-1" [disabled]="deleted" rippleEffect (click)="onDeleteMulti()">
                <span [data-feather]="'trash'" [class]="'mr-25'"></span>{{'ACTION.DELETE' | translate}}
              </button>
              <button *ngIf="acceptAction.add" class="btn btn-primary ml-1" rippleEffect (click)="openModalAddPrograms(modalAddPrograms)">
                <span [data-feather]="'aperture'" [class]="'mr-25'"></span>{{'ACTION.ADD' | translate}}
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable *ngIf="acceptAction.search" [rows]="listPrograms" [rowHeight]="50" class="bootstrap core-bootstrap" [messages]="messages"
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
          [externalPaging]="true" [count]="totalRows" [offset]="currentPage" [limit]="perPage" (page)="setPage($event)"
          (select)="onSelect($event)" (select)="customChkboxOnSelect($event)" [selectionType]="SelectionType.checkbox">
          <ngx-datatable-column name="STT" [width]="50" headerClass="header text-center width-5"
            cellClass="center width-5">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{ (currentPage * perPage) + rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                <label class="custom-control-label" for="headerChkbxRef"></label>
              </div>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
              let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{ 'LABEL.ACTION'| translate }}" [width]="80" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <span *ngIf="acceptAction.update" (click)="editPrograms(row.id, modalEditPrograms)" ngbPopover="Cập nhật"
                triggers="mouseenter:mouseleave" placement="right"><i data-feather="edit"
                  class="text-primary cursor-pointer ml-50"></i></span>
              <span *ngIf="acceptAction.delete" (click)="deleteProgram(row.id)" ngbPopover="Xóa" triggers="mouseenter:mouseleave"
                placement="right"><i data-feather="trash" class="text-danger cursor-pointer ml-50"></i></span>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="{{ 'LABEL_PRO.PROGRAM_NAME'| translate }}" prop="name" [width]="200">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a *ngIf="acceptAction.detail" class="font-medium-1 d-block" (click)="detailProgram(row,modalDetailMenu2)"><span
                      class="font-weight-bold text-primary">{{ name }}</span></a>
                  <a *ngIf="!acceptAction.detail" class="font-medium-1 d-block"><span
                      class="font-weight-bold text-primary">{{ name }}</span></a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- <ngx-datatable-column name="{{ 'LABEL_PRO.AMOUNT'| translate }}" prop="amount" [width]="200"></ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="{{ 'LABEL_PRO.OBJECT'| translate }}"  prop="object" [width]="200"></ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="{{ 'LABEL_PRO.BEGIN_DATE'| translate }}"  prop="beginDate" [width]="200"></ngx-datatable-column> -->
          <!-- <ngx-datatable-column name="{{ 'LABEL_PRO.END_DATE'| translate }}"  prop="endDate" [width]="200"></ngx-datatable-column> -->
  
          <ngx-datatable-column name="{{ 'LABEL_PRO.description'| translate }}" prop="description"
            [width]="200"></ngx-datatable-column>
      
          <ngx-datatable-column name="{{ 'LABEL_PRO.ORGANIZATION'| translate }}" prop="organizationName"
            [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'MENU.CATEGORIES'| translate }}" prop="categoryName"
            [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_PRO.CREATED_DATE'| translate }}" 
            [width]="200">
            <ng-template let-createdDate="value" let-row="row" ngx-datatable-cell-template>
              <span> {{row.createdDate | date: dateFormat}}</span>
            </ng-template>
          </ngx-datatable-column>
            <ngx-datatable-column name="{{ 'LABEL_PRO.CREATED_BY'| translate }}" prop="createdBy"
            [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_PRO.UPDATED_BY'| translate }}" prop="updatedBy"
            [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LABEL_PRO.PROGRAM_UPDATED'| translate }}"
            [width]="200">
            <ng-template let-updatedDate="value" let-row="row" ngx-datatable-cell-template>
              <span> {{row.updatedDate | date: dateFormat}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->


    <ng-template #modalAddPrograms let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.ADD_PROGRAMS' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-add-programs (afterCreatePrograms)="afterCreatePrograms()"></app-add-programs>
      </div>
    </ng-template>
    <!-- Modal detail Program-->
    <ng-template #modalDetailMenu2 let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.DETAIL_PROGRAMS' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-detail-programs [id]="idDetail" [obj]="ObjDetail"></app-detail-programs>
        <!-- <app-detail-programs></app-detail-programs> -->
      </div>
    </ng-template>
    <!-- / Modal -->
    <!-- Modal edit user-->
    <ng-template #modalEditPrograms let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{'CONTENT_HEADER.UPDATE_PROGRAMS' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <app-edit-programs (afterEditPrograms)="afterEditProgram()"></app-edit-programs>
      </div>
    </ng-template>
    <!-- / Modal -->

  </div>
</div>