<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="editMenusFrom" (ngSubmit)="editMenu()">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="menu-code-column">{{ 'LABEL.MENU_CODE'| translate }}</label>
                                            <input type="text" id="menu-code-column" class="form-control" placeholder="Mã Menu" name="menu-code-column" formControlName="menuCode" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="menu-name-column">{{ 'LABEL.MENU_NAME'| translate }}</label>
                                            <input type="text" id="menu-name-column" class="form-control" placeholder="{{ 'LABEL.MENU_NAME'| translate }}" name="menu-name-column" formControlName="menuName" />
                                            <!--                                            <div *ngIf="editMenusFromSubmitted && EditMenuFrom.menuName.errors"-->
                                            <!--                                                 class="invalid-feedback">-->
                                            <!--                                                <div *ngIf="EditMenuFrom.menuName.errors.required">Tên nhóm quyền bắt buộc nhập</div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="role-column">{{ 'LABEL.MENU_FATHER'| translate }}</label>
                                            <ng-select id="role-column" [items]="listMenu" bindLabel="menuName" formControlName="menuParentId" placeholder="{{ 'LABEL.MENU_FATHER'| translate }}" [readonly]="true">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="url-column">{{ 'LABEL.PATH'| translate }}</label>
                                            <input type="text" id="url-column" class="form-control" placeholder="{{ 'LABEL.PATH'| translate }}" name="url-column" formControlName="url" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="translate-column">TRANSLATE</label>
                                            <input type="text" id="translate-column" class="form-control" placeholder="TRANSLATE" name="translate-column" formControlName="translate" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="url-column">Icon</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="{{ 'LABEL.SEARCH_ICON'| translate }}" formControlName="icon" readonly/>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" type="button" rippleEffect (click)="modalOpenSM(modalSM)">{{ 'LABEL.SEARCH_ICON'| translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" rippleEffect class="btn btn-primary mr-1">{{ 'LABEL.SAVE'| translate
                                        }}</button>
                                        <button type="button" rippleEffect class="btn btn-outline-secondary" (click)="resetForm()">{{ 'LABEL.RESET'| translate
                                        }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <ng-template #modalSM let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel160">Chọn Icon</h5>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <section id="feather-icons">
                    <div class="row">
                        <div class="col-12">
                            <div class="icon-search-wrapper my-3 mx-auto">
                                <div class="form-group input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="search"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="icons-search" [(ngModel)]="searchText" placeholder="Search Icons..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap" id="icons-container">
                        <div (click)="copy(dats.key); modal.dismiss('Cross click')" [id]="i" container="body" placement="top" [ngbTooltip]="dats.key" class="card icon-card cursor-pointer text-center mb-2 mx-50" *ngFor="let dats of listIcon | keyvalue | filter: searchText:'key'; let i = index">
                            <div class="card-body">
                                <div class="icon-wrapper">
                                    <i [data-feather]="dats.key" [size]="24"></i>
                                </div>
                                <p class="icon-name text-truncate mb-0 mt-1">{{ dats.key }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')">Accept</button>
            </div>
        </ng-template>
        <!-- / Modal -->
    </div>
</div>