<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- page users view start -->
      <section class="app-user-view">
        <!-- User Card & Plan Starts -->
        <div class="row">
          <!-- User Card starts-->
          <div class="col-xl-12 col-lg-12">
            <div class="card user-card">
              <!-- <h5 class="card-header">Thông tin người dùng</h5> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                    <div class="user-avatar-section">
                      <div class="d-flex justify-content-start">
                        <div class="mr-1 ml-0">
                            <div
                              class="rounded-circle p-3 bg-light-success" style="height: 150px; width: 150px;"
                            >
                              <h2
                                class="d-flex justify-content-center mt-1 text-success" >
                                {{ data.name | initials }}
                              </h2>
                            </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                    <div class="user-info-wrapper">
                      <div class="d-flex flex-wrap">
                        <div class="user-info-title">
                          <i data-feather="star" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL_ASSESSMENT.NAME'| translate }}</span>
                        </div> 
                        <p class="card-text mb-0">{{ data.name }}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="info" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{'LABEL.NUMBER_OF_COLUMNS' | translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ length}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.CREATED_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data.createdBy}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="calendar" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.CREATED_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data?.createdDate | date: dateFormat}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="user" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.UPDATE_BY'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data.updatedBy}}</p>
                      </div>
                      <div class="d-flex flex-wrap my-50">
                        <div class="user-info-title">
                          <i data-feather="calendar" class="mr-1"></i>
                          <span class="card-text user-info-title font-weight-bold mb-0">{{ 'LABEL.UPDATE_DATE'| translate }}</span>
                        </div>
                        <p class="card-text mb-0">{{ data.updatedDate | date: dateFormat}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  